.nav a.active {
    color: rgb(131, 211, 248);
}

p,h2 {
    color: white;
}
.proj-img img{
    align-items: center;
    height: 50px;
    width: 50px;
    object-fit: cover;
    justify-content: center;
    border-radius: 10px;
    object-fit: cover;
    margin-top: -5px;
}
.stack-container{
    border: 1px solid rgb(124, 124, 124);
    background-color: rgba(44, 44, 44, 0.781);
    height: 390px;
    overflow-y: scroll;
    border-radius: 5px;
}
/* Example: target a scrollable div */
.stack-container::-webkit-scrollbar {
  width: 8px;
}

.stack-container::-webkit-scrollbar-track {
  background: #a1a1a133;
  border-radius: 10px;
}

.stack-container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 2px solid #f0f0f0;
}

.stack-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.stack-continer, .tools {
    padding-right: 10px; 
}
.tech-stacks, .tools {
    padding: 10px;
}

@media (min-width: 200px) {
    .proj-img img {
        height: 30px;
        width: 30px;
    }
    .nav {
        font-size: 15px;
    }
}

@media (min-width: 450px) {
    .proj-img img {
        height: 33px;
        width: 33px;
    }
}

@media (min-width: 600px) {
    .proj-img img {
        height: 33px;
        width: 33px;
    }
}

@media (min-width: 760px) {
    .proj-img img {
        height: 37px;
        width: 37px;
    }
}

@media (min-width: 900px) {
    .proj-img img {
        height: 40px;
        width: 40px;
    }
}

@media (min-width: 1024px) {
    .proj-img img {
        height: 45px;
        width: 45px;
    }
}

@media (min-width: 1200px) {
    .proj-img img {
        height: 50px;
        width: 50px;
    }
}

#stack,#tools {
    text-align: center;
}